* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica", sans-serif;
    background: #f6f6f6;
    color: #000;
    line-height: 1.45;
}

.page-interet {
    max-width: 1100px;
    margin: 2rem auto;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
}

.btn-top {
    color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0.28rem 0.6rem;
    border-radius: 6px;
    font-size: 0.88rem;
    text-decoration: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}

.btn-top:hover {
    background: rgba(0, 0, 0, 0.06);
    transform: translateY(-1px);
}

.changer-langue {
    position: absolute;
    top: 3.2rem;
    right: 1rem;
}

.retour {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1.2rem 0;
}

.bloc {
    width: 90%;
    background: #f6f6f6;
    border: 1px solid rgba(0,0,0,0.06);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.03);
    transition: transform 220ms ease, box-shadow 220ms ease;
}

.bloc:hover {
    box-shadow: 0 6px 24px rgba(0,0,0,0.12);
    transform: translateY(-1px);
}

.wrap {
    display: flex;
    gap: 0.6rem;
    margin-bottom: 0.5rem;
}

.video{
    max-width: 50%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0.04)
}

.photos {
    display: flex;
    gap: 0.6rem;
}

.photos picture img {
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 6px;
}


h1 {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 0.06rem;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

p {
    margin-bottom: 0.8rem;
    line-height: 1.6;
}

.note {
    font-size: 0.9rem;
    color: #555;
}

.spotify-albums  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.spotify-albums iframe {
    width: 100%;
    height: 352px;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1100px) {
    
    .wrap { 
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
    
    .video, .photos picture img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
}

@media (max-width: 600px) {


    .photos {
        flex-direction: column;
    }
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;
    }

    .btn-top {
        position: static;
        font-size: 0.9rem;
    }

    .nom {
        order: 2;
        text-align: center;
    }
}